{
  email hello@klapideas.com
}

klapideas.com, www.klapideas.com {
  # Any /kilimahub* -> https://www.kilimahub.com (drop the prefix entirely)
  handle_path /kilimahub* {
    redir https://www.kilimahub.com 308
  }

  # Everything else goes to the app
  handle {
    encode zstd gzip
    reverse_proxy klap_site:80
  }
}
