{
  email hello@klapideas.com
}

klapideas.com, www.klapideas.com {
  # Redirect any /kilimahub* path to the external site, preserving the full path
  @kilima path /kilimahub*
  redir @kilima https://www.kilimahub.com{uri} 308

  encode zstd gzip
  reverse_proxy klap_site:80
}
